body {
  background-color: #E2DFCC ;
}

main table td, main table th {
  border: 1px solid black;
  padding: 10px ;
}

.success {
  color: green;
}
.error {
  color: red;
}
.warning {
  color: violet;
}

footer {
  color: blue;
}

header a {
  color: blue;
  text-decoration: none;
}
header a:focus {
  color: red;
}
header a:hover {
  color: green;
}
header a:active {
  text-decoration: underline;
}
ul {
  display: flex;
}
li {
  list-style-type: none;
  padding-left: 2%;
}
select {
  outline: 0;
}
#wrapper{

	width: 1080px;
	margin: 0px auto;
	padding: 10px;

	text-align: justify;
}
